.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5vw;
  border: 0.05vw solid black;
  padding: 1vw;

  p {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5vw;
  }

  button {
    height: fit-content;
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: 0.05vw solid black;
  }

  svg {
    width: 1.5vw;
    height: 1.5vw;
  }
}

.contactItem div p:nth-child(1) {
  margin-bottom: 0.8vw;
}
