.inputContainer > div:not(:last-child) {
  margin-bottom: 2vw;
}

.inputContainer {
  margin-bottom: 1vw;
}

.contactForm {
  border-radius: 0.5vw;
  border: 0.05vw solid black;
  padding: 1vw;
  margin-bottom: 1vw;

  button {
    margin: 0 auto;
    display: block;
    padding: 0.5vw;
    font-weight: 500;
    border-radius: 0.5vw;
    border: 0.05vw solid black;
  }
}

.labelContainer {
  label {
    display: block;
    margin-bottom: 0.5vw;
    font-weight: 500;
  }
  p {
    color: red;
    height: 0;
  }

  input {
    padding: 0.5vw;
    width: 100%;
    border-radius: 0.5vw;
    border: 0.05vw solid black;
    margin-bottom: 0.2vw;
  }
}
